{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>register voter</title>
    <link rel="stylesheet" href="{% static 'phonedemocracy/concise.min.css' %}"
          type="text/css" />
    <!--
        Staff machine should send the phone number in plain text because:
        1. We can store the phone hash in VoterUnique and verify that staff are not
        creating fake phone number-name pairs
        2. Server already exposed to phone numbers incoming from twilio -- just doesn't let them stay 'at rest'
        3. However server shouldn't receive it with identity information
     -->
  </head>
  <body>
<form id="data-input">
  {{datainputform}}
</form>

<h2>Processed Info</h2>
<ul>
  <li id="name"></li>
  <li id="address"></li>
  <li id="phone"></li>
</ul>

<h2>Going to Server</h2>
  {{form.errors}}
<form id="server-ready" method="POST">
  {{form}}
  <input type="submit" value="Create Voter" />
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
</form>

<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script>
  {% include "phonedemocracy/jslib.html" %}

//disable changing input field values
$('#server-ready input[type=text]').attr('readonly', 'readonly');
$('#id_phone_password').attr({'readonly':'readonly'}).val(generatePhonePassword());

$('#data-input').change(function() {
  var name = homogenizeString($('#id_full_name').val());
  var address = homogenizeString($('#id_address').val());
  var phone = ($('#id_phone').val()
               .replace(/\D+/g,'')
               .replace(/^\1?/,'+1')
              );


  $('#name').html(name);
  $('#address').html(address);
  $('#phone').html(phone);

  generateHash([phone, name, $('#id_web_password').val()],
               PUBLIC_WEBPASSWORD_SALT, 5000,
               $('#id_phone_name_pw_hash').get(0));
  generateHash([$('#id_web_password').val()],
               //must match the first phase of webPasswordToSymmetricKey:
               PUBLIC_WEBPASSWORD_SALT, 4000,
               $('#id_webpw_hash').get(0));
  generateHash([phone, $('#id_phone_password').val()],
               PUBLIC_WEBPASSWORD_SALT, 1,
               //server-side this will be re-hashed with a private salt
               $('#id_phone_pw_hash_inner').get(0));
  generateHash([phone, name, address],
               PUBLIC_WEBPASSWORD_SALT, 5000,
               $('#id_name_address_hash').get(0));

  //server-side this will be slowhash'd with a private salt
  $('#id_new_phone').val(phone);
  $('#id_old_phone').val(phone);
});

function homogenizeString(str) {
  return (str
    .toUpperCase()
    .replace(/\W+/g,' ') //no special chars
    .replace(/\s+/g,' ') //no extra spaces
    .replace(/^\s+/g,'') //no leading space
    .replace(/\s+$/g,'') //no trailing space
    );
};

function generatePhonePassword() {
  //TODO: make this use webcrypto and more robust (but still mnemonic)
  return parseInt(Math.random() * 10000)
}

function generateHash(str_array, salt, iterations, target) {
  // NOTE: this generates 'half the hash' -- with the other half
  // generated on the server by a private salt
  var str2encode = str_array.join('');
  console.log('to encode', str2encode);
  pbkdf2Cycle(new TextEncoder("utf-8").encode(str2encode),
              //TODO: is one cycle hmac sufficient for non-reverse-engineering it?
              //ISSUE: this must defend against a state actor trying to
              // de-anonymize the user.
              salt, iterations,
              function(bits) {
                var final_hash = bits2b64(bits);
                console.log('final hash', final_hash);
                target.value = final_hash;
              });
  return;

  //TODO: SHOULD BE AN HMAC (also on server)

  var str2encode = str_array.join('');
  console.log('to encode', str2encode);
  window.crypto.subtle.digest(
    {name: "SHA-256"},
    new Uint8Array(str2ab(str2encode)) //The data you want to hash as an ArrayBuffer
  )
    .then(function(hash){
      //returns the hash as an ArrayBuffer
      console.log(hash);
      var x = new Uint8Array(hash);
      var final_hash = bits2b64(x);
      console.log('final hash', final_hash);
      target.value = final_hash;
      //console.log(x.map(function(c){String.fromCharCode(c)}));
    })
}

//////////////////////////////////
// TESTS
/////////////////////////////////

var sky = "foobar";
window.crypto.subtle.digest(
    {
        name: "SHA-256",
    },
    new Uint8Array(str2ab(sky)) //The data you want to hash as an ArrayBuffer
)
.then(function(hash){
    //returns the hash as an ArrayBuffer
    console.log(hash);
    var str = '';
    var x = new Uint8Array(hash);
    for (v of x.values()) {str=str+v.toString(16)}
    console.log("This is the same as `echo -n foobar |sha256sum` ")
    console.log(str);
    //console.log(x.map(function(c){String.fromCharCode(c)}));
})
//HMAC EXAMPLE
  window.crypto.subtle.generateKey(
    {
      name: "HMAC",
      hash: {name: "SHA-256"}, //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
  //length: 256, //optional, if you want your key length to differ from the hash function's block length
      length:128
    },
    true, //whether the key is extractable (i.e. can be used in exportKey)
    ["sign", "verify"] //can be any combination of "sign" and "verify"
  )
  .then(function(key){
    //returns a key object
    console.log(key);
    window.skykey = key;
  })
  .catch(function(err){
    console.log(err);
  });

</script>
  </body>
  </html>
