{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>register voter</title>
    <link rel="stylesheet" href="{% static 'phonedemocracy/concise.min.css' %}"
          type="text/css" />
    <style>
      header {
        position: fixed;
        background-color: white;
        width: 100%;
        padding-bottom: 10px;
        top: 0;
        left: 0;
      }
      .issues {
        margin-top: 10em;
      }
      .issue-title {
        padding-top: 4em;
      }
    </style>
</head>
<body>
<header>
  <h1>{{district.title}} Issues</h1>

  <label for="webpassword">Enter your "web password" to get the encrypted vote to send via SMS</label>
  <input id="webpassword" placeholder="web password" />
</header>


<div class="issues">
<ul class="issue-menu">
  {% for issue in issues %}
  <li><a href="#issue-{{issue.id}}">{{issue.title}}</a></li>
  {% endfor %}
</ul>

  {% for issue in issues %}
<h2 class="issue-title" id="issue-{{issue.id}}">{{issue.title}}</h2>
<p>See <a href="{{issue.url}}" target="_blank">details about this issue</a>.
</p>
  <h3>Options</h3>

<ul>
  <!-- placeholder for what the code would be to send a vote secretly-->
    {% for ch in issue.choices %}
       <li>
         {{ch.0}}: {{ch.1}}
         <ul>
           <li>so your phone company doesn't know how you vote:
             <a href="{{sms_uri}}">{{sms_number_friendly}}
             </a><code class="coded" data-choice="{{ch.0}}" data-issue="{{issue.id}}">
               &lt; type in web password above >
             </code>
           </li>
           <li>phone company will know how you voted:
             <a href="{{sms_uri}}x{{issue.id}}v{{ch.0}} password:">{{sms_number_friendly}}</a>
             <code>x{{issue.id}} v{{ch.0}} password &lt;your phone pw></code>
           </li>
         </ul>
       </li>
    {% endfor %}
</ul>
</div>
<!--
    This is the hmac value that will hash with issue+voteoption

    issuehmac=hmac(server_secret, issue)
    voter sees: hmac+issue
    voter client generates: clientissuehmac = hmac(webpw, issuehmac)
    issue vote is firstletter(clientissuehmac) + vote_option_index
-->
<span data-hmac=""></span>

{% endfor %}
<script>
exports = {};
</script>
<script src="{% static 'phonedemocracy/speck32_64.js' %}"></script>
<script>
  {% include "phonedemocracy/jslib.html" %}
</script>
<script>
  var webPassword = document.getElementById('webpassword');
  function finishWebPassword(evt) {
    console.log(evt);
    if (evt.key == "Enter" || evt.type == 'blur') {
       if (webPassword.value) {
         webPassword.style['background-color'] = '#ccffcc';

         webPasswordToSymmetricKey(webPassword.value, function(key) {
            var elts = document.getElementsByClassName('coded');
            for (var a in elts) {
              var elt = elts[a];
              if (elt.getAttribute) {
                 var cryptedVote = encodeSpeckVote(key, elt.getAttribute('data-issue'), elt.getAttribute('data-choice'));
                 elt.innerHTML = 'e' + cryptedVote + ' password &lt;your phone pw>';
                 elt.previousSibling.href += 'e' + cryptedVote + ' password: ';
              }
            }

         });
       }
    }
  }
  webPassword.addEventListener('keyup', finishWebPassword, true);
  webPassword.addEventListener('blur', finishWebPassword, true);
</script>
</body>
</html>
