var PUBLIC_WEBPASSWORD_SALT = '{{settings.VOTING_PUBLIC_SALT}}';
var PUBLIC_TEMP_WEBPASSWORD_SALT = '{{settings.VOTING_TEMP_PUBLIC_SALT}}';
var BASE25 = '{{settings.BASE25}}';

var str2ab = function(str) {
  return (new TextEncoder("utf-8").encode(str));
}

function bits2b64(bits /*Uint8Array*/) {
  var str = '';
  for (v of bits.values()) {
    str = str + String.fromCharCode(v);
  }
  return btoa(str);
}

function webPasswordToSymmetricKey(webpassword, callback) {
  pbkdf2Cycle(new TextEncoder("utf-8").encode(webpassword),
              PUBLIC_WEBPASSWORD_SALT, 4000,
              function(bits) {
                pbkdf2Cycle(bits,
                            PUBLIC_TEMP_WEBPASSWORD_SALT, 1000,
                            callback);
              });
}

function pbkdf2Cycle(password, salt, count, callback) {
  /*
    In python, identical to:
    import hashlib
    dk = hashlib.pbkdf2_hmac('sha256', password.encode('utf8'),
                        salt.encode('utf8'), count)
    return [dk[i] for i in range(8)]
   */

  window.crypto.subtle.importKey(
    "raw", //only "raw" is allowed
    //window.crypto.getRandomValues(new Uint8Array(16)), //your password
    password,
    {
        name: "PBKDF2",
    },
    true, //whether the key is extractable (i.e. can be used in exportKey)
    ["deriveKey", "deriveBits"] //can be any combination of "deriveKey" and "deriveBits"
  )
  .then(function(key){
      //returns a key object
      window.crypto.subtle.deriveBits(
        {
          "name": "PBKDF2",
          //"salt": window.crypto.getRandomValues(new Uint8Array(16)),
          "salt": new TextEncoder("utf-8").encode(salt),
          "iterations": count,
          "hash": {name: "SHA-256"}, //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
        },
        key, //your key from generateKey or importKey
        64 //the number of bits you want to derive
      )
        .then(function(bits){
          //returns the derived bits as an ArrayBuffer
          var result = new Uint8Array(bits);
          callback(result);
        })
   })
}

function encode_vote_code(issue_id, choice_id) {
  if (issue_id >= 65536 || choice_id >= 256) {
    throw Error("issue or choice id too large");
  }
  //0-255
  //javascript wraps to negative numbers when using bit-shifting
  // so we do multiplication and division here instead
  var iv = 0; //window.crypto.getRandomValues(new Uint8Array(1))[0];
  var codable_int = ((iv * 16777216) //= << 24
                     + (issue_id << 8)
                     + choice_id);
  var first_16bits = parseInt(codable_int / 65536); //= >> 16
  var finalvals = [first_16bits, codable_int
                   - (first_16bits * 65536) //= << 16
                  ];
  return finalvals;
}

function encode_vote_int(codable_int) {
  //Math.log(2^32, 24) < 7 characters
  var char25s = [];
  for (var i=0; i<7; i++) {
    char25s.push(BASE25[codable_int % 25]);
    codable_int = parseInt(codable_int / 25);
  }
  return char25s.join('');
}

function encodeSpeckVote(key8, issue_id, choice_id) {
  //key will come in as 8 8-bit numbers, 
  // but we must consolidate this to 4 16-bit numbers for speck
  var key4 = [];
  for (var i=0; 4>i; i++) {
    key4[i] = key8[2*i]*256 + key8[2*i+1];
  }
  var text = encode_vote_code(parseInt(issue_id), parseInt(choice_id));
  var expanded = [];
  expandKey(key4, expanded); //alters expanded
  encrypt(text, expanded); //alters text
  //same as (text[0] << 16) but doesn't loop around to negative values
  var codable_int = (text[0] * 65536) + text[1];
  return encode_vote_int(codable_int);
}

function speckTest() {
  var expanded = [];
  //each elt in key is a 16-bit number
  key = [0,0,0,50];
  expandKey(key, expanded); //alters expanded
  var text = [0,0];
  encrypt(text, expanded); //alters text
  console.log('first key', text, text[0] == 4565, text[1] == 26980)
  key = [50,0,0,50];
  expanded = [];
  expandKey(key, expanded);
  var text2 = [0,0];
  encrypt(text2, expanded);
  console.log('second key', text2);
  return text;
  //will be: [4565, 26980] which is same as python's output
}
